:root {
    --modal-duration: 1s;
    --modal-color:violet;
  }
  


*{
    margin: 0;
    padding: 0;
    font-family:"ubuntu" ,sans-serif ;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height:100vh ;
    background:url(bg1.png) no-repeat center;
   background-size: cover;
   display: flex;
   justify-content: center;
    align-items: center;
}
.profile-card{
    width: 400px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}
.card-header{
background-color: #2c3a47;
padding: 60px 40px;
}

.pic{
    display: inline-block;
    padding: 8px;
    background:linear-gradient(110deg ,#74b9ff,#e66767);
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
}

@keyframes  animated-gradient {
    25%
    {
    background-position: left bottom;
}
50%{
    background-position : right bottom
}
75%{
    background-position : right top;
}
100%{
    background-position : right top;
}
}

.pic img{ 
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.name{
color:#f2f2f2;
font-size: 28px;
font-weight: 600;
margin: 10px 0;
}

.desc{
    font-size: 18px;
    color: #e66767;
}
.sm{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    
}

.sm a{

    color: #f2f2f2;
    width: 56px;
    font-size: 22px;
    transition: .3s linear;
}

.sm a:hover{
    color:#e66767;
}

.contact-btn{
    display: inline-block;
    padding: 12px 50px;
    color: #e66767;
    border: 2px soloid #e66767;
    border-radius: 6px ;
    margin-top:16px;
    transition: .3s linear;
}

.contact-btn:hover{
    background: #e66767;
    color: #f2f2f2;
}

.card-footer{
    background: #f4f4f4;
    padding:60px 10px;

}

.numbers{
    display: flex;
    align-items: center;
}

.item{
    flex: 1;
   text-transform :upper;
   font-size: 13px;
   color:#e66767;

}

.item span{
    display: block;
    color: #2c3a47;
    font-size: 30px;
}

.border{
    width: 1px;
    height:30px ;
    background:#bbb ;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    margin: 10% auto;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }
  
  .modal-header h2,
  .modal-footer h3 {
    margin: 0;
  }
  
  .modal-header {
    background: var(--modal-color);
    padding: 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .modal-body {
    padding: 10px 20px;
    background: #fff;
  }
  
  .modal-footer {
    background: var(--modal-color);
    padding: 10px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .close {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  @keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  